<div class="main light-mode">

    <div class="anime-list">
       <ul>
       <li>1
       </li>
       <li>2
       </li>
       <li>3
       </li>
       <li>4
       </li>
       <li>5
       </li>
       <li>6
       </li>
       </ul>
    </div>

    

 <div id="mode-toggle" class="icon">
    <button id="modeToggleBtn" class="mode-toggle-button">
     <%= image_tag("light-mode.png", alt: "Dark Mode", size: "200x200", id: "modeToggleImg", class: "mode-toggle-image") %>
    </button>
  </div>

  <script src="assets/mode.js"></script>
</div>