.header{
  background: rgb(209, 209, 164);
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.header-right{
  display: flex;
  justify-content: right;
}

ul{
  list-style: none;
}

.anime-list{
  display: flex;
  justify-content: center;
  border: 2px black;
}


/*ここまでがヘッダー部分*/
/*ここからjavascript系*/
.main {
  background-color: #f2f2f2;
  position: relative;
}

.mode-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* ライトモードのスタイル */
.light-mode {
  background-color: rgb(85, 230, 116);
}

/* ダークモードのスタイル */
.dark-mode {
  background-color: #333333;
}

.light-mode #modeToggleImg {
  background-color: transparent;
  width: 150px;
  height: 150px;
}

.dark-mode #modeToggleImg {
  background-color: transparent;
  width: 150px;
  height: 150px;
}

.mode-toggle-image {
  width: 150px;
  height: 150px;
}

li{
  font-size: 100px;
}

.icon{
  position:fixed;
  right:20px;
  bottom:20px;
}
/*ここフッター*/
.footer{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  rgb(209, 209, 164);
}

/*ここからログイン画面*/

.contents
{display: flex;
justify-content: center;}


.container {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}

.container h3 {
  margin: 0 0 20px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  color: #666;
}

.input-birth-wrap{
  display: flex;
}